web:
  image: luis/sails
  volumes:
    - ./:/var/www
    - /var/log/docker/bmi:/var/log/supervisor
  ports:
    - "1337:1337"
    - "80:80"
  links: 
    - "mongodb:mongodb"
  environment:
    NODE_ENV: production
    PORT: 80
    GOOGLE_OAUTH_CLIENTID: YOURCLIENTID
    GOOGLE_OAUTH_CLIENTSECRET: YOURCLIENTSECRETHERE
    GOOGLE_OAUTH_CALLBACKURL: http://<domain here>/auth/google/callback
mongodb:
  image: luis/mongodb
  volumes_from:
    - MONGODB_DATA
  expose:
    - "27017"
  environment:
    DB: bmi