web:
  image: luis/sails
  volumes:
    - ./:/var/www
    - /var/log/docker/bmi:/var/log/supervisor
  ports:
    - "1337:1337"
    - "80:80"
  links: 
    - "mongodb:mongodb"
  environment:
    NODE_ENV: development
    PORT: 80
mongodb:
  image: luis/mongodb
  expose:
    - "27017"
  ports:
    - "27017:27017"
  environment:
    DB: bmi