<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>

<div id="page">
  <div class="content">
    <div class="vertical-align horizontal-align">
      <h1 class="main-title frontpage-title">Get your Body Mass Index (BMI)</h1>
      <div id="gSignInWrapper">
        <a href="/auth/google" id="customBtn" class="customGPlusSignIn">
          <span class="icon"></span>
          <span class="buttonText">Sign in with Google</span>
        </a>
      </div>
    </div>
  </div>
</div>
